{{ define "main" }}
{{- partial "hero.html" . -}}

<section id="sect-content">
  <div class="container">
    <h2>Sobre Sibelclan</h2>
    <article>{{ .Content }}</article>
  </div>
</section>

<section id="sect-musicians">
  <div class="container">
    <h2>Sibelclan son:</h2>
    <div class="row">
      {{ range .Site.Data.musicians }}
      <div class="col-sm-3">
        <img src="{{ .image }}" alt="{{ .name }}" width="200px">
        <h3>{{ .name }}</h3>
        <p>{{ .instrument }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{- partial "social.html" . -}}
{{ end }}
