<!doctype html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  
  {{ define "nav-items" }}
	  {{- partial "navbar.html" . -}}
  {{ end }}

  <body>
    {{- partial "gtm_body.html" . -}}
    <nav class="dark navbar navbar-expand-lg navbar-dark navbar-shrink">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="/assets/img/logo/sibelclan-logo.png" alt="Sibelclan" height="48px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ml-auto">
            {{- block "nav-items" . }}{{- end }}
          </ul>
        </div>
      </div>
    </nav>
    {{- block "main" . }}{{- end }}
    
    {{- partial "footer.html" . -}}

    {{- partial "javascript.html" . -}}
    {{- partial "cookieconsent.html" . -}}

  </body>
</html>
