<!doctype html>
<html lang="{{ .Language.Lang }}">

<head>
  {{- partial "head.html" . -}}
</head>

<body class="case-study">
  {{- partial "gtm_body.html" . -}}
  
  {{- partial "casestudy/navbar.html" . -}}

  <section id="sect-hero" class="dark background background-02">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>De new hire a senior en 3 meses sin alterar la productividad de los equipos</h1>
        </div>
        <div class="col-md-12">
          {{- partial "testimonial.html" (dict "context" . "customerId" "emiliomacias" "testimonial" "Necesitábamos incorporar ingenieros a nuestro equipo, pero teníamos que dedicar seniors y tech leads para formarlos, que ya estaban en equipos productivos, con fechas de entrega agresivas. Intentar compaginar la entrega de valor con la formación de estas personas creaba fricción y frustración.") }}
        </div>
      </div>
    </div>
  </section>

  <section id="sect-details" class="gloaming">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 mb-3">
          <div class="box case-study-info">
            <div class="flap flap-top-left"></div>
            <div class="flap flap-bottom-left"></div>
            <img src="/assets/img/clients/domingo-alonso-group-logo.png"/>
            <h4>Cliente:</h4>
            <p>Domingo Alonso Group</p>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class="box case-study-info">
            <div class="flap flap-top-right"></div>
            <div class="flap flap-top-left"></div>
            <img src="/assets/img/icon-car.svg"/>
            <h4>Sector:</h4>
            <p>Automoción y movilidad</p>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class="box case-study-info">
            <div class="flap flap-top-right"></div>
            <div class="flap flap-bottom-right"></div>
            <img src="/assets/img/icon-group.svg"/>
            <h4>Servicio:</h4>
            <p>Aceleradora de talento</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sect-index" class="gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="row case-study-index">
            <li class="col-md-6"><a data-scroll="sect-need" href="#">La necesidad: incorporar nuevos desarrolladores sin perturbar a sus equipos productivos</a></li>
            <li class="col-md-6"><a data-scroll="sect-consequence" href="#">El resultado: los equipos se veían presionados para no dejar solos a las nuevas incorporaciones</a></li>
            <li class="col-md-6"><a data-scroll="sect-factors" href="#">El primer contacto y los factores diferenciadores</a></li>
            <li class="col-md-6"><a data-scroll="sect-accelerator" href="#">El ingrediente principal de la receta: la aceleración formativa</a></li>
            <li class="col-md-6"><a data-scroll="sect-addons" href="#">Dos aderezos indispensables: la comunidad de práctica y la plataforma de e-learning</a></li>
            <li class="col-md-6"><a data-scroll="sect-benefits" href="#">El beneficio principal: un fuerte atractor de talento</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="sect-video">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NZgsqqiS440"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sect-about" class="mt-0 pt-0 pb-6">
    <div class="container">
      <div class="collapsable">
        <h2>Domingo Alonso Group</h2>
      </div>
      <p class="text-center"><em>Domingo Alonso Group</em> es una empresa de origen canario, que tiene más de 80 años de historia dedicada
        al sector de la automoción y la movilidad. <em>Aplicaciones Informáticas Domingo Alonso</em>, o
        <strong>AIDA</strong>, es la empresa tecnológica del grupo, centrando su actividad en el desarrollo de
        productos tecnológicos y software a medida, con los que tiene presencia internacional.</p>
    </div>
  </section>

  <section class="side-by-side">
      <div class="side-by-side-panel dark">
        <section id="sect-need">
            <h2 class="with-arrow">La necesidad:
              incorporar nuevos desarrolladores sin perturbar a sus equipos productivos</h2>
            <p>Tras realizar la definición del plan de carrera de los empleados del departamento de ingeniería de AIDA,
              identifican la necesidad de encontrar talento de nivel intermedio para incorporar a sus equipos.</p>
            <p>El mayor reto es la necesidad de dedicar perfiles senior y tech leads para la formación de las nuevas
              incorporaciones, los cuales estando en equipos productivos, con fechas de entrega agresivas, tenían que hacer
              un esfuerzo extra para compaginar la entrega de valor con la formación de estas personas.</p>
        </section>
      </div>
      <div class="side-by-side-panel gloaming">
        <section id="sect-consequence">
            <h2 class="with-arrow">El resultado: los equipos se veían presionados para no dejar solos a las nuevas incorporaciones, los cuales
              no se sentían de utilidad para el equipo, lo cual creaba fricción y frustración.</p>
        </section>
      </div>
  </section>

  <section id="sect-factors">
    <div class="container">
      <article class="text-center">
        <h2>El primer contacto y los factores diferenciadores
        </h2>
        <p>En este contexto, ocurren los primeros contactos entre AIDA y Sibelclan. Los factores diferenciales de la
          propuesta de valor de Sibelclan que mejor encajaban en la necesidad de AIDA fueron:</p>
      </article>
      <div class="row">
        <div class="col-xl-4 mb-3">
          <div class="box">
            <div class="flap flap-top-right"></div>
            <img src="/assets/img/icon-coaching.svg"/>
            <h4>El enfoque formativo, basado en el acompañamiento hands-on.</h4>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class="box">
            <div class="flap flap-top-right"></div>
            <img src="/assets/img/icon-coaching.svg"/>
            <h4>El mindset de mejora contínua, foco en el producto y el desarrollo ágil inspirados en los principios y
              valores de Extreme Programming y Software Craftsmanship.</h4>
          </div>
        </div>
        <div class="col-xl-4 mb-3">
          <div class="box">
            <div class="flap flap-top-right"></div>
            <img src="/assets/img/icon-training.svg"/>
            <h4>La temática de las formaciones, orientadas a metodologías como Test-driven Development, Continuous
              Integration y DevOps.</h4>
          </div>
        </div>
      </div>
        <article class="text-center">
          <p>El alineamiento de estos factores con la visión de AIDA de cuáles debían ser las competencias clave de los
            miembros senior de sus equipos, pronto dieron lugar al comienzo de la colaboración.</p>
        </article>
        <div class="light">
          <a data-scroll="sect-calendly" href="#" class="button center-horizontal">Contacto</a>
        </div>
    </div>
  </section>

  <section id="sect-testimonial-1" class="gloaming">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{- partial "testimonial.html" (dict "context" . "customerId" "emiliomacias" "testimonial" "Al final la decisión fue cuando entramos en detalle y vimos ¿qué contenido va a conocer nuestro equipo? ¿Cuál es la forma en la que se va a trasladar esa información? Y qué necesidad teníamos nosotros. Nosotros teníamos una necesidad que era: necesitamos formar a nuestra gente lo antes posible en ciertos perfiles y no podemos invertir nosotros todo el tiempo en ello. El temario y la temática que ustedes ofrecían están acorde a las necesidades básicas que teníamos nosotros. Y eso fue casi el decir si, hay que probar.") }}
        </div>
      </div>
    </div>
  </section>

  <section id="sect-accelerator" class="dark background background-07">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="with-arrow">El ingrediente principal de la receta: la aceleración formativa</h2>
          <div class="row">
            <div class="col-md-6 d-none d-sm-none d-md-block">
              <p>En un mercado tan revuelto como el de IT, donde hay mucha demanda de perfiles senior, Sibelclan comienza a
                encargarse de formar a los nuevos profesionales que entran al equipo de AIDA en los elementos clave de su ADN
                y mindset.</p>
              <p>Tras incorporarse a AIDA, estos nuevos profesionales dedican sus 3 primeros meses dentro de la empresa a
                formarse con la metodología de Sibelclan, tanto en los conceptos teóricos del plan de formación, como realizando
                práctica en torno a un proyecto integrador.</p>
            </div>
            <div class="col-md-6">
              <p>Este proyecto, el cual no es un proyecto ficticio o pet project, sino un proyecto productivo real de la
                empresa preparado para la formación, proporciona a los aprendices un entorno seguro en el que aplicar todos
                los conceptos, con todos los elementos de un proyecto real, como el conocimiento del negocio, el contacto con
                los usuarios, la aplicación de las metodologías y tecnologías usadas en la casa, pero sin el agobio de las
                fechas de entrega.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sect-addons">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="with-arrow">Dos aderezos indispensables: la comunidad de práctica y la plataforma de e-learning</h2>
          <article>
            <p>En su momento, AIDA llegó a articular iniciativas de formación social como los Labs, un espacio en el que
              compartir conocimiento, o un club de lectura, en el que los desarrolladores aprendían leyendo y debatiendo los
              conceptos de libros como Clean code, Refactoring, Domain-driven design, etc. Desafortunadamente, estas
              iniciativas fueron descontinuadas debido a la baja participación.</p>
            <p><img src="/assets/img/photo-case-study-1.jpg"></p>
            <p>Con Sibelclan, se ha recuperado esa filosofía, metodología y mindset de estar constantemente aprendiendo, gracias
              a la facilitación de la Comunidad de práctica, un espacio semanal de 2 horas cada viernes antes del mediodía,
              en el que hacemos lightning talks, katas, talleres, discutimos código de producción, etc. Tras la implantación
              de esta iniciativa, se vuelve a respirar el feeling de aprendizaje, las preguntas, las lecturas y la inquietud
              por no parar de mejorar.</p>
            <p>Un complemento adicional es el aprendizaje en la plataforma e-learning de Sibelclan, que permite a los compañeros
              y compañeras de AIDA visionar el contenido de aprendizaje teórico y revisarlo en cualquier momento, y gracias
              al cual las sesiones prácticas con los coaches técnicos de Sibelclan son muchísimo más productivas.</p>
            <p><img src="/assets/img/photo-case-study-2.jpg"></p>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section id="sect-benefits" class="gloaming background background-06">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="with-arrow">El beneficio principal: un fuerte atractor de talento</h2>
          <div class="row">
            <div class="col-md-6 d-none d-sm-none d-md-block">
              <p>La posibilidad de ofrecer una formación intensiva de 3 meses en las ofertas de empleo de AIDA marcan la
                diferencia a la hora de atraer nuevo talento. Prueba de ello es que, a fecha de escribir este artículo, son 4
                las personas que terminan la formación en los próximos 15 días, y una semana después dará comienzo la
                siguiente ronda, para la cual ya hay 3 nuevas incorporaciones confirmadas.</p>
              <p>La oferta de formación es un elemento clave para transmitir a los candidatos el mensaje de que la empresa se
                toma en serio la excelencia técnica y para ello está dispuesta a invertir en la capacitación de su gente.</p>
            </div>
            <div class="col-md-6">
              <p>Asimismo, son reportados como éxitos la efectividad y eficiencia en la aceleración de la formación de los
                nuevos desarrolladores, de la cual los perfiles más senior se pueden liberar para poner el foco en los
                proyectos productivos, así como el cambio cultural a nivel de todo el departamento en torno al mindset de
                mejora contínua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sect-testimonial-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{- partial "testimonial.html" (dict "context" . "customerId" "emiliomacias" "testimonial" "Nosotros siempre hemos apostado por perfiles jóvenes, pero necesitábamos poder incorporar a más personas. No contar con este servicio sería una vuelta atrás, frenar en seco ciertos proyectos y productos ya en producción para poder formar personas que se incorporen a nuestro equipo. Así qué yo espero no tener que dejar de contar con ustedes. Para mi ya forman parte del equipo.") }}
        </div>
      </div>
    </div>
  </section>

  {{- partial "footer.html" . -}}

  {{- partial "javascript.html" . -}}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f2bf2edad69c454"></script>
</body>

</html>

{{ define "article" }}
<div class="container">
  <article>
    {{ .Content }}
  </article>
</div>
{{ end }}
