{{ define "nav-items" }}
  {{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
<section id="sect-service-training" class="dark background background-03">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h1>
          La formación <em>definitiva</em> para despegar como desarrollador de software
        </h1>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
        </p>
        <p class="bigger">
          Hemos diseñado un sistema formativo con el que llegarás a un nivel superior como desarrollador, en una experiencia transformadora a nivel profesional y personal.
        </p>
        <a data-scroll="sect-courses" href="#" class="button"
          >Descubre la formación</a
        >
      </div>
      <div class="col-md-5 d-none d-sm-none d-md-block">
        <img
          class="img-fluid pad"
          src="/assets/img/photo-training-module.png"
        />
      </div>
    </div>
  </div>
</section>

<section class="light">
  <div class="container">
    <div class="row">
      <div class="col-12 justify-content-center align-items-center text-center">
        <h2>Conocer al detalle la última versión de Spring Boot <em>no te hace mejor desarrollador de software</em>.</h2>
        <p>Estas son las habilidades que de verdad importan en el mundo real. El sistema formativo de Sibelclan está diseñado para <em>transmitirtelas todas</em>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="row blocks">
          <li class="col-md-3"><div class="col-md-12 inner">Arquitectura de software</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Código limpio</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Mindset de producto</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Entrega continua de valor</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Estrategia de negocio</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Gestión ágil de proyectos</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Liderazgo y habilidades blandas</div></li>
          <li class="col-md-3"><div class="col-md-12 inner">Mejora y aprendizaje continuo</div></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Las <em>claves</em> de los cursos de nuestro sistema formativo.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="box">
          <div class="flap flap"></div>
          <img
            class="icon-mid"
            src="/assets/img/icons/white/Sibelclan-Icon-15.png"
          />
          <h3>No stack</h3>
          <p>
            Lo que vas a aprender aquí es independiente del lenguaje o framework que uses. <em>Vas a ser capaz de ver la Matrix</em> del desarrollo.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="box">
          <div class="-top-right"></div>
          <img
            class="icon-mid"
            src="/assets/img/icons/white/Sibelclan-Icon-14.png"
          />
          <h3>Intensivos</h3>
          <p>
            El formato de nuestras formaciones es intensivo. Durante 2 días completos <em>te sumergirás de lleno</em> a trabajar en tu desarrollo profesional.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <img
            class="icon-mid"
            src="/assets/img/icons/white/Sibelclan-Icon-10.png"
          />
          <h3>Experiencia real</h3>
          <p>
            Estas son las mismas formaciones con las que se capacitan <em>desarrolladores de empresas top</em> a nivel nacional e internacional.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <a
            class="button center-horizontal"
            data-scroll="sect-contact"
            href="#"
            >Quiero saber más</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-courses" class="light">
  <div class="container">
    <div class="row">
      {{ range first 1 (where .Data.Pages "Params.featured" true) }}
      <div class="col-12">
        <div class="course-card row no-gutters">
          <div
            class="course-header col-lg-6 col-sm-12"
            style="background-image: url('{{ .Params.course_featured_image }}')"
          >
            <div class="featured-course">Curso más popular</div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="course-body">
              <h3>{{ .Params.course_title }}</h3>
              <p class="description">
                Nuestro curso insignia, en el que re-descubrirás los fundamentos del desarrollo de software, a todos los niveles.
              </p>
              <p class="description">
                Después de hacer este curso tu carrera como desarrollador no volverá a ser igual. Aprenderás a:
              </p>
              <ul class="course-features">
                <div class="row">
                  <li class="col-md-6">Escribir código limpio y mantenible</li>
                  <li class="col-md-6">Construir una red de seguridad con tests y TDD</li>
                  <li class="col-md-6">Poner el producto y el negocio en el centro</li>
                  <li class="col-md-6">Trabajar en un equipo de alto rendimiento</li>
                </div>
              </ul>
              <!--
              <a class="button button-green expand" href="{{ .Permalink }}">Descubre el curso</a>-->
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="dark background background-01">
  <div class="container">
    <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
      <div class="col-md-12">
        <h1>Cursos avanzados</h1>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-courses" class="light">
  <div class="container">
    <div class="row">
      {{ range first 9 (where .Data.Pages "Params.featured" nil) }}
      <div class="col-md-4 col-sm-12">
        <div class="course-card">
          <div
            class="course-header"
            style="background-image: url('{{ .Params.course_featured_image }}')"
          >
            <div class="featured-course">¡Próximamente!</div>
          </div>
          <div class="course-body">
            <h3>{{ .Params.course_title }}</h3>
            <p class="description">{{ .Description }}</p>
            <!--
            <a class="button button-green expand" href="{{ .Permalink }}"
              >Más info</a
            >
            -->
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{- partial "testimonials.html" . -}}

<section id="sect-contact" class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>Contacta con nosotros para obtener más información o reservar tu plaza en nuestras formaciones:</h2>
        {{- partial "contactform.html" . -}}
      </div>
    </div>
  </div>
</section>
{{ end }}
