<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    {{- partial "press/head.html" . -}}
  </head>
  <body>
    {{- partial "gtm_body.html" . -}}
    
    {{- partial "press/navbar.html" . -}}
    {{- partial "press/hero.html" . -}}

    <section id="sect-body">
      {{- block "article" . }}{{- end }}
      <div class="container">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <ul class="tags tags-dark">
              {{ partial "press/tags.html" . }}
            </ul>
            {{ partial "press/author.html" . }}
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>
      </div>
    </section>

    {{- partial "footer.html" . -}}
    {{- partial "javascript.html" . -}}
    <script
      type="text/javascript"
      src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f2bf2edad69c454"
    ></script>
  </body>
</html>

{{ define "article" }}
<div class="container">
  <article>{{ .Content }}</article>
</div>
{{ end }}
