{{ define "main" }}
<section class="light background">
  <div class="container">{{ .Content }}</div>
  <div class="container">
    <div class="row justify-content-center">
      {{ range .Params.team }} {{$authorName := .name}} {{ $data := index $.Site.Data.authors $authorName }}
      <div class="col-12 col-md-4 col-lg-4">
        <div class="team-card">
          <div data-toggle="modal" data-target="#{{$data.name}}">
            <div
              class="team-card-header"
              style="background-image: url('{{$data.avatar}}')"
            ></div>
            <div class="team-card-body d-flex flex-column">
              <h3>{{ $data.name }}</h3>
              <p class="description">{{ $data.role }}</p>
              <ul class="social-icons list-inline">
                {{ if ($data.social.twitter) }}
                <li class="list-inline-item">
                  <a target="_blank" href="{{ $data.social.twitter }}">
                    <img src="/assets/img/blog/social-icons/icon-twitter.svg" />
                  </a>
                </li>
                {{ end }} {{ if ($data.social.linkedin) }}
                <li class="list-inline-item">
                  <a target="_blank" href="{{ $data.social.linkedin }}">
                    <img
                      src="/assets/img/blog/social-icons/icon-linkedin.svg"
                    />
                  </a>
                </li>
                {{ end }} {{ if ($data.social.github) }}
                <li class="list-inline-item">
                  <a target="_blank" href="{{ $data.social.github }}">
                    <img src="/assets/img/blog/social-icons/icon-github.svg" />
                  </a>
                </li>
                {{ end }}
                <li class="list-inline-item">
                  <a target="_blank" href="mailto:{{ $data.social.email }}">
                    <img src="/assets/img/blog/social-icons/icon-email.svg" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade bd-example-modal-lg"
        id="{{$data.name}}"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>

              <img src="{{$data.avatar}}" />

              <div class="modal-header--content">
                <p>{{ $data.name }}</p>
                <p>{{ $data.role }}</p>

                <ul class="social-icons list-inline">
                  {{ if ($data.social.twitter) }}
                  <li class="list-inline-item">
                    <a target="_blank" href="{{ $data.social.twitter }}">
                      <img
                        src="/assets/img/blog/social-icons/icon-twitter.svg"
                      />
                    </a>
                  </li>
                  {{ end }} {{ if ($data.social.linkedin) }}
                  <li class="list-inline-item">
                    <a target="_blank" href="{{ $data.social.linkedin }}">
                      <img
                        src="/assets/img/blog/social-icons/icon-linkedin.svg"
                      />
                    </a>
                  </li>
                  {{ end }} {{ if ($data.social.github) }}
                  <li class="list-inline-item">
                    <a target="_blank" href="{{ $data.social.github }}">
                      <img
                        src="/assets/img/blog/social-icons/icon-github.svg"
                      />
                    </a>
                  </li>
                  {{ end }}
                  <li class="list-inline-item">
                    <a target="_blank" href="mailto:{{ $data.social.email }}">
                      <img src="/assets/img/blog/social-icons/icon-email.svg" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-body">
              {{ $data.bio | safeHTML }}

              <br />
              {{ $blogs := $.Site.GetPage "/blog" }} {{ $blogPost := where $blogs.Pages ".Params.author" $authorName }} {{ range first 1 $blogPost }}

              <div class="modal-body--link">
                <a href="/blog/?author={{$authorName}}"
                  >Ver blogs de {{ $data.name }}</a
                >
              </div>

              {{ end }}
            </div>
          </div>
        </div>
      </div>

      {{end}}
    </div>
  </div>
</section>

{{ end }}
