{{ define "nav-items" }}
  {{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
<section id="sect-thank-you" class="dark background background-04">
  <div class="container thank-you-hero vertical-center">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          ¡Gracias por ponerte en contacto con nosotros, te responderemos lo
          antes posible!
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="light no-padding-top">
  <div class="container vertical-center horizontal-center">
    <div class="row">
      <div class="col-md-12">
        <p><a href="/blog/" class="button-hollow">Visita nuestro blog</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}
