<form accept-charset="UTF-8" data-redirect="https://www.sibelclan.com/gracias/" class="redirect-js">
  <div class="row">
    <div class="col-md-6 form-group">
      <input class="form-control" id="name" name="name" type="text" placeholder="{{ i18n "fieldname" }}" required/>
    </div>
    <div class="col-md-6 form-group">
      <input class="form-control" id="surname" name="surname" type="text" placeholder="{{ i18n "fieldsurname" }}" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input class="form-control" id="email" name="email" type="email" placeholder="Email" required/>
    </div>
    <div class="col-md-6 form-group">
      <input class="form-control" id="phone" name="phone" type="text" placeholder="{{ i18n "fieldphone" }}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" id="message" name="message" placeholder="Déjanos tu mensaje" required></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="btn-submit" type="submit" name="submit" value="{{ i18n "btnsend" }}" />
    </div>
  </div>
</form>
