<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/conciertos/">Conciertos</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/albums/">Albums</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/sobre-nosotros/">Sobre nosotros</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/contacto/">Contacto</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/videos/">Videos</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/galeria/">Galería</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{ .Site.Params.external_links.store_url }}">Tienda</a>
</li>
