<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/conciertos">Conciertos</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/albums">Albums</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/sobre-nosotros">Sobre nosotros</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/contacto">Contacto</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/videos">Videos</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/galeria">Galería</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tienda</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownResources">
    <a class="dropdown-item" href="/tienda/musica/">Música</a>
    <a class="dropdown-item" href="/tienda/merchandise/">Merchandise</a>
  </div>
</li>
