<section
  id="sect-social"
  class="hero hero-bg-img"
  style="background-image: url('{{ .Params.featured_image }}')"
>
  <div class="hero-bg-img-mask bg-mask">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h2>Síguenos en redes</h2>
          <ul class="list-inline mt-3 mt-lg-0">
            {{ range .Site.Data.social }}
            <li class="list-inline-item">
              <a
                target="_blank"
                href="{{ .url }}"
              >
                <img src="/assets/img/social/{{ .icon }}.svg" width="50px" />
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
