{{ define "nav-items" }}
  {{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
<section class="dark background background-01">
  <div class="container">
    <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
      <div class="col-md-12">
        <h1>{{ .Params.texts.hero.header | safeHTML }}</h1>
        <h4>{{ .Params.texts.hero.subheader | safeHTML }}</h4>
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">{{ .Params.texts.common.call_to_action }}</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-stakes" class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          {{ .Params.texts.stakes.header | safeHTML }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ .Params.texts.stakes.p1 | safeHTML }}</p>
        <ul class="row ticked-cross">
          {{ range .Params.texts.stakes.list }}
          <li class="col-md-6">{{ . }}</li>
          {{ end }}
        </ul>
        <p>{{ .Params.texts.stakes.p2 | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>

<section id="sect-value-proposition" class="gloaming background background-06">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>{{ .Params.texts.valueprop.what | safeHTML }}</h2>
      </div>
    </div>

    <div class="row">
      {{ range .Params.texts.valueprop.benefits }}
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <img src="{{ .icon }}" />
          <p>{{ .text | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="row justify-content-center align-items-center text-center">
      <div class="col-m-12">
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">{{ .Params.texts.common.call_to_action }}</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-plan" class="dark background background-04">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>{{ .Params.texts.plan.header | safeHTML }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 justify-content-center align-items-center text-center">
        <p>{{ .Params.texts.plan.subtitle | safeHTML }}</p>
      </div>
    </div>

    <div class="row">
      {{ range .Params.texts.plan.steps }}
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p class="price">- {{ .number }} -</p>
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section id="sect-service-consultancy" class="light">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-5 d-none d-sm-none d-md-block">
        <img
          class="img-fluid pad"
          src="/assets/img/photo-coaching-module.png"
        />
      </div>
      <div class="col-md-7">
        <h3>{{ .Params.texts.serviceconsultancy.title }}</h3>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
        </p>
        <p>
          {{ .Params.texts.serviceconsultancy.p1 | safeHTML }}
        </p>
        <p>
          {{ .Params.texts.serviceconsultancy.p2 | safeHTML}}
        </p>
        <a data-scroll="sect-contact" href="#" class="button">{{ .Params.texts.common.call_to_action }}</a>
      </div>
    </div>
  </div>
</section>

<section id="sect-service-training" class="gloaming">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h3>{{ .Params.texts.servicetraining.title }}</h3>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
        </p>
        <p>
          {{ .Params.texts.servicetraining.p1 | safeHTML }}
        </p>
        <p>
          {{ .Params.texts.servicetraining.p2 | safeHTML }}
        </p>
        <a data-scroll="sect-contact" href="#" class="button">{{ .Params.texts.common.call_to_action }}</a>
      </div>
      <div class="col-md-5 d-none d-sm-none d-md-block">
        <img
          class="img-fluid pad"
          src="/assets/img/photo-training-module.png"
        />
      </div>
    </div>
  </div>
</section>

<section id="sect-service-coaching" class="dark background background-02">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-7">
        <h3>{{ .Params.texts.servicecoaching.title }}</h3>
        <p>
          <img class="arrow-down" src="/assets/img/arrow-down-primary.svg" />
        </p>
        <p>
          {{ .Params.texts.servicecoaching.p1 | safeHTML }}
        </p>
        <p>
          {{ .Params.texts.servicecoaching.p2 | safeHTML }}
        </p>
        <a data-scroll="sect-contact" href="#" class="button">{{ .Params.texts.common.call_to_action }}</a>
      </div>
      <div class="col-md-5 d-none d-sm-none d-md-block">
        <img
          class="img-fluid pad"
          src="/assets/img/photo-apprenticeship-module.png"
        />
      </div>
    </div>
  </div>
</section>

<section id="sect-team" class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img
            class="arrow-right"
            src="/assets/img/arrow-right-secondary.svg"
          />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>{{ .Params.texts.team.title | safeHTML }}</h2>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-6">
        <p>
          {{ .Params.texts.team.p1 | safeHTML }}
        </p>
        <p>
          {{ .Params.texts.team.p2 | safeHTML }}
        </p>
      </div>
      {{ range .Params.team }} {{$authorName := .name}} {{ $data := index $.Site.Data.authors $authorName }}
      <div class="col-6">
        <div class="team-card">
          <div class="team-card-header" style="background-image: url('{{$data.avatar}}')"></div>
          <div class="team-card-body d-flex flex-column">
            <h3>{{ $data.name }}</h3>
            <p class="description">{{ $data.role }}</p>
            <ul class="social-icons list-inline">
              {{ if ($data.social.twitter) }}
              <li class="list-inline-item">
                <a target="_blank" href="{{ $data.social.twitter }}">
                  <img src="/assets/img/blog/social-icons/icon-twitter.svg" />
                </a>
              </li>
              {{ end }}
              {{ if ($data.social.linkedin) }}
              <li class="list-inline-item">
                <a target="_blank" href="{{ $data.social.linkedin }}">
                  <img src="/assets/img/blog/social-icons/icon-linkedin.svg" />
                </a>
              </li>
              {{ end }}
              {{ if ($data.social.github) }}
              <li class="list-inline-item">
                <a target="_blank" href="{{ $data.social.github }}">
                  <img src="/assets/img/blog/social-icons/icon-github.svg" />
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section id="sect-cases-studies" class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>{{ .Params.texts.socialproof.header }}</h2>
      </div>
    </div>

    <div class="row mt-3 mb-3 justify-content-center align-items-center text-center">
      <div class="col-md-8">
        <p>
          {{ .Params.texts.socialproof.subheader }}
        </p>
      </div>
      <div class="case-study-card-container">
        {{ range .Params.texts.socialproof.casestudies }}
        <div class="case-study-card">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ .youtube }}"></iframe>
          </div>
          <div class="container">
            <h4>{{ .title }}</h4>
            <h6>{{ .description }}</h6>
            <a href="{{ .link }}" class="button-hollow"
              style="margin: auto; text-align: center; display: block">{{ .cta }}</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section id="sect-testimonials" class="gloaming">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
          <div class="box">
            <div class="flap flap-top-right"></div>
            <div class="carousel-inner">
              {{ range .Params.texts.testimonials }}
              <div class="carousel-item {{ if eq .active true }}active{{ end }}">
                <p>{{ .text | safeHTML }}</p>
                <div class="customer">
                  <img class="rounded-circle avatar" src="{{ .photo }}" />
                  <div class="customer-info">
                    <p>{{ .name }}</p>
                    <p>{{ .position }}</p>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>

          <div class="carousel-indicators-parent">
            <ol class="carousel-indicators carousel-testimonials">
              <!-- TODO draw buttons based on data, not hardcoded -->
              <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-testimonials" data-slide-to="1"></li>
              <li data-target="#carousel-testimonials" data-slide-to="2"></li>
            </ol>
            <a href="#carousel-testimonials" data-slide="next" role="button"><img class="arrow-right"
                src="/assets/img/arrow-right-secondary.svg" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sect-paragraph" class="light background background-06">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          {{ .Params.texts.explaining_paragraph.header }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ .Content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <a data-scroll="sect-contact" href="#" class="button button-center">{{ .Params.texts.common.call_to_action }}</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sect-contact-form" class="dark background background-03">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2><img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" /></h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>{{ .Params.texts.contact.title | safeHTML }}</h2>
        {{- partial "contactform.html" . -}}
      </div>
    </div>
  </div>
</section>

{{ end }}
