{{ define "nav-items" }}
  {{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
<header class="video-header">
  <div class="video-wrapper">
    <video playsinline autoplay muted loop poster="/assets/img/band/2023-run-to-me.jpg">
      <source src="/assets/video/sibelclan-visualizer.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 text-center">
          <h1 class="super-big">Sibelclan</h1>
          <h2>Sitio web oficial</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="video-header">
  <div class="video-wrapper">
    <video playsinline autoplay muted loop poster="/assets/img/band/2023-run-to-me.jpg">
      <source src="/assets/video/thecrowd-visualizer.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="super-big">The Crowd</h1>
          <h2>Nuevo single + Videoclip ya disponible</h2>
          <p>
            <a href="https://www.youtube.com/watch?v=bpdLeHRGHNE" class="button button-center" target="_blank">Ver videoclip</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

{{ range first 1 (where .Site.RegularPages ".Params.layout" "album") }}
<section id="sect-lastest-album">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Escucha nuestro último disco</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img src="{{ .Params.cover_art }}" alt="{{ .Title }}" class="img-fluid" />
        <h3>{{ .Title }}</h3>
        <h4>Nuevo album | Disponible el {{ dateFormat "2 January 2006" .Date }}</h4>
        <p class="review">"{{ .Params.headline }}"</p>
        <p>
          <a href="https://metalhammer.es/sibelclan-addicted/" target="_blank">Leer review completa en MetalHammer</a>
        <p>
          <a href="{{ .Params.purchase_url }}" class="button button-black button-center">Escuchar</a>
        </p>
      </div>
      <div class="col-lg-6">
        <iframe style="border-radius:12px" src="{{ .Params.streaming_urls.spotify }}" width="100%" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        </iframe>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- partial "concerts.html" . -}}

{{- partial "social.html" . -}}
{{ end }}
